<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IvarsSykkelSjappe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TestApplication</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
                <nav class="navbar">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="https://previews.dropbox.com/p/orig/ABN6UqQ8PseMOqmcxjXieEIJhgqlHW3PFBQmQ4CAl6nfInf5DeZ5HxUcrldnr89Fi7PIA-EBGgXDN8HVRDl8kccOBEpXyptpyvqzvWzBPIycpaoMaG6U7poTQ4UHoFJDPACoSRyV3Ub4j5dgd3eqQ-99ZCBDd6PjDIur7RCXWXHHHIVDolvERQKoFGsG9iu5DSwIQFjuj25VtSAPuWZKxV-kvSbxTnn9ruOuDbAGzLfuxdmlpgj9F-ENfrbrEEseHPYR7Y0cljm949NYKfXgBUoRq_TuwDpvgIUwAAxb0SoJUe_YTt8MjZqMg-myUviaEU7aNhB4mphXPxZwV4Ec5SwK/p.svg?fv_content=true&size_mode=5" width="30" height="30" alt="">
                    </a>
                </nav>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bikes" asp-action="Create">Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bikes" asp-action="All">Bikes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bikes" asp-action="Review">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <a class="nav-link" href="https://www.instagram.com/ivarssykkelsjappe/?hl=en"><i class="fa fa-instagram"></i></a>
                        <a class="nav-link" href="https://www.facebook.com/sykkelsjappe/"><i class="fa fa-facebook"></i></a>
                        @RenderSection("Links", false)
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Ivars Sykkel Sjappe - <a asp-area="" asp-controller="Home" asp-action="Booking">Booking</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>