@model BikeDetailsViewModel
<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@Model.Brand (@Model.Model - @Model.Year)</h1>
        <div>
            <div class="form-group text-center">
                <img src="@Model.ImageUrl" class="img-fluid">
            </div>
            <div class="form-group">
                <label asp-for="Brand">Brand</label>
                <input type="text" readonly class="form-control" id="brand" name="Brand" value="@Model.Brand">
            </div>
            <div class="form-group">
                <label asp-for="Model">Model</label>
                <input type="text" readonly class="form-control" id="model" name="Model" value="@Model.Model">
            </div>
            <div class="form-group">
                <label asp-for="Year">Year</label>
                <input type="text" readonly class="form-control" id="year" value="@Model.Year">
            </div>
            <div class="form-group">
                <label asp-for="Category">Category</label>
                <input type="text" readonly class="form-control" id="category" name="Category" value="@Model.Category">
            </div>
            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input type="text" readonly class="form-control" id="description" name="Description" rows="3" value="@Model.Description">
            </div>
            <div class="form-group text-center">
                <div class="button-holder">
                    <a href="/Bikes/AddUserToBike?bikeId=Id" class="btn btn-primary btn-block text-uppercase">Join</a>
                </div>
            </div>
        </div>
    </div>
</section>